    {% extends 'blog/base.html' %}
    {% load staticfiles %}
    {% block title %} Abdoulthegreat {% endblock %}
    {% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h3> Abdulthegreat </h3>
              {% if user.is_authenticated %}
              <span class="subheading"> Welcome {{ user.username }} <small>
              {% else %}
              <span class="subheading"> Welcome Anonymous</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </header>
    {% for posts in posts %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
              <h3 class="post-title">
               <a href="{%  url 'post_detail' pk=posts.pk  %}"><strong style="color: blue">{{ posts.title }}</strong>
              </h3>
              <h5 class="post-subtitle">
               {{ posts.content|linebreaksbr|truncatewords:25 }}
              </h5>
            </a>
            <br>
            <p class="post-meta">Published by<small class="glyphicon glyphicon-user"></small>
              <a href="#"> {{ posts.author }}  </a>
             <small class="glyphicon glyphicon-calendar"></small> {{ posts.published_date }}
              <a href="{% url 'post_detail' pk=posts.pk %}" style="text-decoration: none;" class="comment">
          <small class="glyphicon glyphicon-comment"></small> Comment
          (<small class="comment-count">{{ posts.approved_comments.count }}</small>)
          </div>
          <hr>
        </div>
      </div>
    </div>
{% endfor %}
{% endblock %}