    {% extends 'blog/base.html' %}
    {% load staticfiles %}
    {% block title %} Articles {% endblock %}
    {% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1> Abdulthegreat </h1>
              <span class="subheading"> {{ "You are viewing" }} <strong> {{ post.title }} </strong></span>
            </div>
          </div>
        </div>
      </div>
    </header>
       
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
              <h2 class="post-title">
               {{ post.title }}
               {% if user.is_authenticated %}
               <a  class="btn  btn-default"  href="{%  url 'post_edit' pk=post.pk  %}"><span class="glyphicon  glyphicon-pencil"></span></a>
               <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
               {% endif %}
              </h2>
              <h3 class="post-subtitle">
               {{ post.content|linebreaksbr }}
              </h3>
            </a>
            <p class="post-meta">Created by
              <a href="#">{{ post.author }}</a>
              {% if post.published_date %}
                <date class="date">{{ post.published_date }}</date></p>
              {% else %}
              <i>Not Published</i> &raquo
                <a href="{% url 'post_publish' pk=post.pk %}"><span>Publish Now   </span><i class="material-icons">public</i>
              {%  endif %}
          </div>
          <hr>
        </div>
      </div>
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}