    {% extends 'blog/base.html' %}
    {% load staticfiles %}
    {% block title %} Articles {% endblock %}
    {% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1> Abdulthegreat </h1>
              <span class="subheading"> Welcome </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% for posts in posts %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
              </h2>
              <h3 class="post-subtitle">
               {{ posts.content|linebreaksbr }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ posts.author }}</a>
              {{ posts.published_date }}</p>
          </div>
          <hr>
        </div>
      </div>
    </div>
{% endfor %}
{% endblock %}