{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %} Edit Post {% endblock %}
{% block content %}
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              {% if post.title %}
              <h3>Edit Post</h3>
              <span class="subheading">Edit <strong>{{ post.title }}</strong> </span>
              {% else %}
              <h3>Create Post</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- main content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
              <h3>Create New Post</h3>
          {% if form.errors %}
          <p style="color: red;">
            Please correct the error {{ form.errors|pluralize }} below.
          </p>
          {% endif %}
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="control-group">
              {{ form.title.errors }}
                <label for="name">Title</label><br>
                {{ form.title}}
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              {{ form.content.errors }}
                <label for="text">Content</label><br>
                {{ form.content}}
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
          <button type="submit" class="save btn btn-default">Create</button>
        </div>
        </form>
        <br>
          </div>
        </div>
      </div>
    <hr>
    {% endblock %}