    {% extends 'blog/base.html' %}
    {% load staticfiles %}
    {% block title %} Articles {% endblock %}
    {% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
            	{% if post.published_date %}
              <h3> {{ post.title }} </h3>
              <span class="subheading">published by <strong>{{ post.author }} </strong> {{ post.published_date }}</span>
              {% else %}
              <h3> {{ post.title }} </h3>
              <span class="subheading">Created by <strong>{{ post.author }} and Not Published</strong>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </header>
       
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
           <h3 class="post-title">
            {{ post.title }}
            {% if user.is_authenticated %}
            <a  class="btn  btn-default"  href="{%  url 'post_edit' pk=post.pk  %}"><small class="glyphicon  glyphicon-pencil"> Edit</small></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><small class="glyphicon glyphicon-remove"> Delete</small></a>
            {% if not post.published_date %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><small class="glyphicon glyphicon-publish"> Publish</small></a>
            {% endif %}
            {% endif %}
              </h3>
              <h5 class="post-subtitle">
               {{ post.content|linebreaksbr }}
              </h5>
            </a>
            <br>
            <p class="post-meta">Created by
              <a href="#">{{ post.author }}</a>
               <date class="date">{{ post.created_date }}</date></p>
   			 <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
   			 <hr>
				{% for comment in post.comments.all %}
    				{% if user.is_authenticated or comment.approved_comment %}
      <div class="comment">
       <strong>{{ comment.author }}</strong>
       {% if not comment.approved_comment %}
         <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"> Delete</span></a>
         <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"> Approve</span></a>
            {% endif %}
        <div class="date">{{ comment.created_date }}</div>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    <hr>
    {% endif %}
		{% empty %}
    		<a class="post-meta" href="{% url 'add_comment_to_post' pk=post.pk %}">Be the first to comment...</a>
	{% endfor %}
         </div>
          <hr>
        </div>
      </div>
    </div>
    <hr>
{% endblock %}