    {% extends 'blog/base.html' %}
    {% load staticfiles %}
    {% block title %} Articles {% endblock %}
    {% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1> Abdulthegreat </h1>
              <span class="subheading"> {{ "You are viewing" }} <strong> {{ post.title }} </strong></span>
            </div>
          </div>
        </div>
      </div>
    </header>
       
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
              <h2 class="post-title">
               {{ post.title }}
               {% if user.is_authenticated %}
               <a  class="btn  btn-default"  href="{%  url 'post_edit' pk=post.pk  %}"><span class="glyphicon  glyphicon-pencil"></span></a>
               {% endif %}
              </h2>
              <h3 class="post-subtitle">
               {{ post.content|linebreaksbr }}
              </h3>
            </a>
            <p class="post-meta">Published by
              <a href="#">{{ post.author }}</a>
              {% if post.published_date %}
                <date class="date">{{ post.published_date }}</date></p>
              {%  endif %}
          </div>
          <hr>
        </div>
      </div>
    </div>
{% endblock %}